.nav {
  background-image: linear-gradient(to right, #9796f0, #6a59ff);
  display: flex;
  background-size: cover;
  justify-content: space-between;
}
.img {
  height: 33px;
  width: 33px;
  margin-bottom: -10px;
}
.logo {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-left: 80px;
}
.score-para {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin-right: 40px;
}
.row {
  display: flex;
  margin-right: 80px;
}
.top-s {
  font-size: 18px;
  color: white;
  font-weight: 500;
}
